---
export interface Props {
    size?: number | string;
    scale?: number | string;
    color?: 'red' | 'yellow' | 'blue' | 'green' | 'orange' | 'purple';
    shape?: 'square' | 'circle' | 'rectangle' | 'capsule';
    target?: string;
    style?: string;
    id?: string;
}
const { size, scale, color, shape, target, style, id } = Astro.props;
---

<div class="guy-wrapper" style=`--size: ${size ?? "150px"};`>
    <div class=`guy ${color ?? "red"} ${shape ?? "circle"}` data-target={target} style=`--size: ${size ?? "150px"}; --scale: ${scale}; ${style ?? ""}` id={id ?? ""}>
        <div class = "eye"><div class = "pupil"></div></div>
        <div class = "eye"><div class = "pupil"></div></div>
        <div class = "mouth"></div>
    </div>
</div>

<style>
    :global(.guy-wrapper:has(.guy.sleep)) {
        animation-play-state: paused;
    }
    :global(.guy-wrapper:has(.guy:hover)) {
        animation-play-state: paused;
        z-index: 1;
    }
    
    .guy{
        --border-color: black;
        --pupil-color: black;
        --mouth-color: #ff4f4fa8;

        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid var(--border-color);
        border-radius: 20px;
        width: var(--size);
        height: var(--size);
        overflow: hidden;

        transform: scale(var(--scale));
        transition: transform 0.2s;
        margin: 20px 5px 5px 5px;
    }
    .guy:hover{
        transform: scale(calc(var(--scale) * 1.2));
        z-index: 1;
    }

    /* Eyes */
    .eye{
        position: relative;
        background-color: white;
        border-radius: 50%;
        margin: 0 10px;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pupil{
        position: absolute;
        width: 15px;
        height: 15px;
        background-color: var(--pupil-color);
        border-radius: 50%;

        transition: width .1s, height .1s;
    }
    .guy:hover .pupil{
        width: 25px;
        height: 25px;
    }

    /* Mouth */
    .mouth{
        position: absolute;
        border-bottom-left-radius: 13px;
        border-bottom-right-radius: 13px;
        width: 30px;
        height: 15px;
        background-color: var(--mouth-color);
        transform: translateY(40px);
        transition: border-radius .2s, width .2s, height .2s;
    }
    .guy:hover .mouth{
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        width: 50px;
        height: 25px;
    }

    /* Sleeping */
    .sleep .eye {
        background: none;
        border-bottom: 3px solid var(--border-color);
        border-radius: 0;
        height: 0;
    }

    .sleep .pupil {
        opacity: 0;
    }

    .sleep .mouth{
        border-radius: 50%;
    }

    /* Awaking */
    .awake .eye {
        background: white;
        border-radius: 50%;
        height: 40px;
        transition: all .5s;
    }

    .awake .pupil {
        opacity: 1;
        transition: all .2s, opacity .5s;
    }

    /* Couleurs */
    .red{ background-color: #ff7070; }
    .yellow{ background-color: #ffed70; }
    .blue{ background-color: #70a0ff; }
    .green{ background-color: #70ff70; }
    .orange{ background-color: #ff9f46; }
    .purple{ background-color: #8e44c0; }

    /* Forme */
    .circle{
        border-radius: 50%;
    }
    .rectangle{
        height: 125px;
        width: var(--size);
    }
    .capsule{
        height: calc(var(--size) * 1.2);
        width: 125px;
        border-radius: 100px;
    }
    .capsule>.eye{
        transform: translateY(calc(var(--size) * -.2));
    }
</style>

<script>
    const mouseTarget = document.createElement("div");
    mouseTarget.id = "mouse";
    mouseTarget.style = "position: fixed; pointer-events: none; width: 0px; height: 0px;"
    document.body.appendChild(mouseTarget);

    function UpdateTargetPos(x: number, y: number) {
        mouseTarget.style.left = `${x}px`;
        mouseTarget.style.top = `${y}px`;
    }

    document.addEventListener("mousemove", (e) => UpdateTargetPos(e.clientX, e.clientY));
    document.addEventListener("touchstart", (e) => UpdateTargetPos(e.touches[0].clientX, e.touches[0].clientY));
    document.addEventListener("touchmove", (e) => UpdateTargetPos(e.touches[0].clientX, e.touches[0].clientY));
</script>

<script>
    const MAX_DISTANCE = 10;
    const ANGLE = 100;

    const guys:NodeListOf<HTMLElement> = document.querySelectorAll(".guy");

    let hoveredGuy: HTMLElement | null = null;
    guys.forEach(b => {
        b.addEventListener("mouseenter", () => hoveredGuy = b);
        b.addEventListener("mouseleave", () => hoveredGuy = null);
    });

    function UpdatePupils() {
        guys.forEach(guy => {
            let target = document.getElementById(guy.dataset.target ?? "mouse")?.getBoundingClientRect();
            guy.querySelectorAll<HTMLElement>(".pupil").forEach(pupil => {
                if (!target || guy === hoveredGuy) return pupil.style.transform = `translate(0px, 0px)`;

                let eye:HTMLElement | null = pupil.parentElement;
                let rect = eye?.getBoundingClientRect();
                if (!rect) return;

                let angleX = target.x - rect.left - 15;
                let angleY = target.y - rect.top;

                let distance = Math.min(MAX_DISTANCE, Math.hypot(angleX, angleY) / MAX_DISTANCE);
                let dx = Math.max(- MAX_DISTANCE, Math.min(MAX_DISTANCE, (angleX / ANGLE) * distance));
                let dy = Math.max(- MAX_DISTANCE, Math.min(MAX_DISTANCE, (angleY / ANGLE) * distance));
                pupil.style.transform = `translate(${dx}px, ${dy}px)`;
            });
        });

        requestAnimationFrame(UpdatePupils);
    }
    UpdatePupils();
</script>

<script>
    document.querySelectorAll(".guy").forEach(guy => {
        guy.addEventListener("mouseenter", () => {
            guy.classList.remove("sleep");
            guy.classList.add("awake");
        });
    });
</script>

<script>
    const guys:NodeListOf<HTMLElement> = document.querySelectorAll(".guy");

    document.addEventListener("visibilitychange", () => {
        if (document.hidden) {
            guys.forEach(guy => {
                guy.classList.remove("awake");
                guy.classList.add("sleep");
            });
        } else setTimeout(() => {
            guys.forEach(guy => {
                guy.classList.remove("sleep");
                guy.classList.add("awake");
            });
        }, 3_000);
    });
</script>